@import '../_reset.scss';
$carouselHeight : 350px;
$carouselWidth : 786px;
$numImages : 3;

.ui_carousel-large {
    position: relative;
}

.ui_carousel-large input[type=radio] {
   display: none;
}

.ui_carousel-large .ui_carousel-images {
    height: $carouselHeight;
    list-style: none;
    overflow: hidden;
    position: relative;
    width: $carouselWidth;
}

.ui_carousel-large .ui_carousel-dots  {
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: $carouselWidth;
    z-index: 5;
}

.ui_carousel-large .ui_carousel-dots .ui_carousel-dot {
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    list-style-type: none;
    margin: 0 5px;
    width: 15px;
}

.ui_carousel-images > img,
.ui_carousel-images > label {
    display: none;
} 

.ui_carousel-images > img {
    transistion: all .5s;
}

.ui_carousel-images > label {
    height: 30px;
    position: absolute;
    top: 45%;
    width: 30px;
}

@mixin createRules($num, $type){
    $foo : '';
    $start : '.ui_carousel-large input[type=radio]:nth-of-type(';
    $imagesMiddle : '):checked ~ .ui_carousel-images > label:nth-of-type(';
    $dotsMiddle :'):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(';
    $numBack : $num;
    $b : 1;
    @if $type == 'left' {
        @for $i from 1 through $num {
            $foo : $foo + $start + $i + $imagesMiddle + $numBack + '),';
            $numBack : $i;
        }
    } @else if $type == 'right'{
        @for $i from 1 through $num {
            $b : $b + 1;
            $foo : $foo + $start + $i + $imagesMiddle + $b +'),';
             @if $i == $num - 1  {
                $b : 0;
             }
        }
    } @else if $type == 'images' {
        @for $i from 1 through $num {
            $foo : $foo + $start + $i + $imagesMiddle + $i +') + img , ';
        }
    } @else if $type == 'dots' {
        @for $i from 1 through $num {
            $foo : $foo + $start + $i + $dotsMiddle + $i +'),'; 
        }
    }

    #{$foo} {
        @content;
    }
}

@include createRules($numImages,'left'){
     background: transparent url(../images/left.png) no-repeat;
     display: block;
     left: 10px;
     z-index: 5;
}

@include createRules($numImages, 'right'){
    background:transparent url(../images/right.png) no-repeat;
    display: block;
    right:10px;
    z-index: 4;
}

@include createRules($numImages, 'images'){
     display: block;
     z-index: 1
}

@include createRules($numImages, 'dots'){
    background-color: rgba(255, 255, 255, .75);
}


