@import '../_reset.scss';
$carouselHeight : 350px;
$carouselWidth : 786px;

.ui_carousel-large {
    position: relative;
}

.ui_carousel-large input[type=radio] {
   display: none;
}

.ui_carousel-large .ui_carousel-images {
    height: $carouselHeight;
    list-style: none;
    overflow: hidden;
    position: relative;
    width: $carouselWidth;
}

.ui_carousel-large .ui_carousel-dots  {
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: $carouselWidth;
    z-index: 5;
}

.ui_carousel-large .ui_carousel-dots .ui_carousel-dot {
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    list-style-type: none;
    margin: 0 5px;
    width: 15px;
}

.ui_carousel-images > img,
.ui_carousel-images > label {
    display: none;
} 

.ui_carousel-images > img {
    transistion: all .5s;
}

.ui_carousel-images > label {
    height: 30px;
    position: absolute;
    top: 45%;
    width: 30px;
}

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images > label:nth-of-type(1) + img,
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images > label:nth-of-type(2) + img,
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images > label:nth-of-type(3) + img {
    display: block;
    z-index: 1
}

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images > label:nth-of-type(3),
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images > label:nth-of-type(1),
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images > label:nth-of-type(2) {
    background: transparent url(../images/left.png) no-repeat;
    display: block;
    left: 10px;
    z-index: 5;
}

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images > label:nth-of-type(2),
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images > label:nth-of-type(3),
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images > label:nth-of-type(1) {
    background:transparent url(../images/right.png) no-repeat;
    display: block;
    right:10px;
    z-index: 4;
}

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(1),
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(2),
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(3) {
    background-color: rgba(255, 255, 255, .75);
}

