//
//  PROJECT SPECIFIC VARIABLES
//

$accordion-width-sm: 375px;
$accordion-width-med: 575px;
$accordion-width-lg: 775px;

//
//
//

.ui_accordion-holder {
	background-color:$white-light-off;
	border:$gray-dark 1px solid;
	color:$gray-dark;
	margin:auto;
	padding:100px;
	position:relative;
	width:960px;
	font-family: $font-family;
	> p {
		margin: 25px 0;
	}
}


.ui_accordion-large {
	.ui_accordion-main {
		width: $accordion-width-lg;
		article.ui_accordion-content {	
			.ui_accordion-content-text {
				width: ( $accordion-width-med - 200);
			}
		}
	}
}
.ui_accordion-medium {
	.ui_accordion-main {
		width: $accordion-width-med;
		article.ui_accordion-content {	
			.ui_accordion-content-text {
				width: ( $accordion-width-med - 200);
			}
		}
	}
}
.ui_accordion-small {
	.ui_accordion-main {
		width: $accordion-width-sm;
		article.ui_accordion-content {	
			.ui_accordion-content-text {
				width: ( $accordion-width-sm - 200);
			}
		}
	}
}
.ui_accordion-lightHeadBG {
	 .ui_accordion-main {
		>label header {
			background-color:$white-light-off; color: $gray-dark;
			&:hover {
				background-color: darken(white, 2%); color: $purple-light;	
			}
		}
	}
}
.ui_accordion-darkHeadBG {
	.ui_accordion-main {
		>label header {
			background-color:$gray-dark; color: $white-med-off;
			&:hover {
				background-color: rgba(0,0,0,.9); color: darken(#fff, 25%);
			}
		}
	}
}
.ui_accordion-lightContBG {
	.ui_accordion-main {
		article.ui_accordion-content {
			background-color:$white-light-off; color: $gray-dark;	
		}
	}
}
.ui_accordion-darkContBG {
	.ui_accordion-main {
		article.ui_accordion-content {
			background-color:$gray-dark; color: $purple-medium;		
		}
	}
}
.ui_accordion-noBorder {
	.ui_accordion-main {
		>label header {
			border-bottom: $gray-dark 1px solid;
		}
	}
}
.ui_accordion-bordered {
	.ui_accordion-main {
		border: 1px solid $gray-dark;
		> label header {
			border-bottom: $white-med-off 1px solid;
		}
	}
}
	
	
.ui_accordion-list .ui_accordion-main {
	list-style-type:none;
	overflow: auto;
	input {
		display: none;
		&:checked {
			~ article {
				display: block;
			}
			~ label {
				color: $white-light-off;
				header {
					border-bottom: $purple-medium 4px solid;
				}
				i {
					transform: rotate(180deg);
					top: 8px;
				}
			}
		}
	}
	&:last-child label header {
		border-bottom: none;
	}
	> label {
		padding-bottom: 0px;
		header {
			line-height: 25px;
			position: relative;
			font-weight: 300;
			text-transform: uppercase;	
			padding: 7px 10px;
			&:hover {
				cursor: pointer;
			}
			i {
				transition: all 400ms ease;
				position: absolute;
				right: 8px;
				top: 6px;
				font-size: 25px;
			}
		}
	}
	article.ui_accordion-content {	
		display: none;
		padding: 25px;
		.ui_accordion-content-text {
			float: right;
			vertical-align: top;
			padding-bottom: 15px;
			header {
				font-weight: bold;
				padding-bottom: 15px;
			}
			p {
				font-size: $font-size-small;
				color: #999;
				letter-spacing: 1.2px;
				padding-bottom: 10px;
				padding-right: 15px;
			}
		}
	}
}
