@import '../utils/_variables.scss';
@import '../base/_typography.scss';
$carouselHeight : 350px;
$carouselWidth : 786px;
$numImages : 3;
$numImagesMulti : 7;
$numThumbs : 3;
$sections : 3;

body {
    font: $font-family;
}

.carousel-content {
    margin: 50px 0;
    min-width: 1066px;
   
}

.ui_carousel label {
    width: auto;
}


.ui_carousel {
    position: relative;
    margin: 0px auto 20px;
}

/******************************************************************************
 * Carousel Large  ************************************************************
 ******************************************************************************/
.ui_carousel-large {
    width: $carouselWidth;
    overflow: hidden;
    position: relative;
}

.ui_carousel-large input[type=radio] {
   display: none;
}

.ui_carousel-large .ui_carousel-images {
    margin-top: 20px;
    transition: transform 0.5s ease 0s;
    background-color:#000;
    height: $carouselHeight;
    border-radius: 3px;
}

.ui_carousel-large .ui_carousel-dots  {
    bottom: 5px;
    position: absolute;
    text-align: center;
    width: $carouselWidth;
    z-index: 5;
}

.ui_carousel-large .ui_carousel-dots .ui_carousel-dot {
    background-color: rgba(255,255,255,.5);
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    list-style-type: none;
    margin: 0 5px;
    width: 15px;
}

.ui_carousel-large > label {
  
} 

.ui_carousel-large .ui_carousel-images img {
    transition: all .5s ease;
    position:absolute;
    top: 0
    // left: 787px;
}

@for $i from 1 through $numImages { 
    .ui_carousel-large .ui_carousel-images > img:nth-of-type(#{$i}) {
       $i : $i - 1;
       transform: translateX(#{$i * 100%});
        opacity: 0.5;
    }
}

.ui_carousel-large > label {
    height: 30px;
    position: absolute;
    top: 52.5%;
    width: 30px;
}

@mixin createRules($num, $type){
    $foo : '';
    $start : '.ui_carousel-large input[type=radio]:nth-of-type(';
    $imagesRight : '):checked ~ label:nth-of-type(';
    $imagesMiddle : '):checked ~ .ui_carousel-images';
    $dotsMiddle :'):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(';
    $numBack : $num;
    $b : 1;
    @if $type == 'left' {
        @for $i from 1 through $num {
            $foo : $foo + $start + $i + $imagesRight + $numBack + '),
            ';
            $numBack : $i;
        }
    } @else if $type == 'right'{
        @for $i from 1 through $num {
            $b : $b + 1;
            $foo : $foo + $start + $i + $imagesRight + $b +'),
            ';
             @if $i == $num - 1  {
                $b : 0;
             }
        }
    } @else if $type == 'dots' {
        @for $i from 1 through $num {
            $foo : $foo + $start + $i + $dotsMiddle + $i +'),
            '; 
        }
    }

    #{$foo} {
        @content;
    }
}

@include createRules($numImages,'left'){
     background: transparent url(../images/carousel/left.png) no-repeat;
     display: block;
     left: 10px;
     z-index: 5;
}

@include createRules($numImages, 'right'){
    background:transparent url(../images/carousel/right.png) no-repeat;
    display: block;
    right:10px;
    z-index: 4;
}

@include createRules($numImages, 'dots'){
    background-color: rgba(255, 255, 255, .75);
}

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images {
  transform: translateX(0%);
}

@for $i from 1 through ($numImages - 1) { 
    .ui_carousel-large input[type=radio]:nth-of-type(#{$i+1}):checked ~ .ui_carousel-images {
        transform: translateX(#{$i * -100%});
        top: 0;
    }
}

@mixin setOpacity($num){
    $foo : '';
    @for $i from 1 through $num {
        $foo : $foo +  '.ui_carousel-large input[type=radio]:nth-of-type('+ $i+'):checked ~ .ui_carousel-images img:nth-of-type('+$i+'),
        ';
    }

    #{$foo} {
        @content;
    }
}

@include setOpacity($numImages){
     opacity: 1;
}

/******************************************************************************
 * Carousel Multi  ************************************************************
 ******************************************************************************/
.ui_carousel-multi {
    width: $carouselWidth;
    overflow: hidden;
    position: relative;
    height: 380px;
}

.ui_carousel-multi input[type=radio] {
   display: none;
}

.ui_carousel-multi .ui_carousel-images {
    margin: 20px 0 0 30px;
    transition: transform 0.5s ease 0s;
    height: $carouselHeight;

}

.ui_carousel-multi img {
    margin: 0 5px;
}

.ui_carousel-multi > label {
    height: 30px;
    position: absolute;
    top: 50%;
    width: 30px;
}

.ui_carousel-multi .ui_carousel-images section {
    margin:  10px 0px;
    transition: all .5s ease;
    display: inline-block;
    height: $carouselHeight;
    overflow: hidden;
    vertical-align: top;
    position:absolute;
    top: 0;
    width: 728px;
}


@for $i from 1 through $sections { 
    $c:'';
        .ui_carousel-multi .ui_carousel-images > section:nth-of-type(#{$i}) {
        @if $i == 1 {
            $c : 0;
        } @else {
            $c : $i;
        }
           transform: translateX(#{$c * 110%});
            opacity: 0.25;
            
    }
}


@mixin createRulesMulti($num, $type){
    $foo : '';
    $start : '.ui_carousel-multi input[type=radio]:nth-of-type(';
    $imagesRight : '):checked ~ label:nth-of-type(';
    $imagesMiddle : '):checked ~ .ui_carousel-images';
    
    $numBack : $num;
    $b : 1;
    @if $type == 'left' {
        @for $i from 1 through $num {
            $foo : $foo + $start + $i + $imagesRight + $numBack + '),
            ';
            $numBack : $i;
        }
    } @else if $type == 'right'{
        @for $i from 1 through $num {
            $b : $b + 1;
            $foo : $foo + $start + $i + $imagesRight + $b +'),
            ';
             @if $i == $num - 1  {
                $b : 0;
             }
        }
    } 

    #{$foo} {
        @content;
    }
}

@include createRulesMulti($sections,'left'){
     background: transparent url(../images/carousel/left-dark.png) no-repeat;
     display: block;
     left: 0px;
     z-index: 5;
}

@include createRulesMulti($sections, 'right'){
    background:transparent url(../images/carousel/right-dark.png) no-repeat;
    display: block;
    right:0px;
    z-index: 5;
}

.ui_carousel-multi input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images {
  transform: translateX(0%);
  top: 0; }

@for $i from 2 through $sections { 
    .ui_carousel-multi input[type=radio]:nth-of-type(#{$i}):checked ~ .ui_carousel-images {
        transform: translateX(#{$i * -106%});
        top: 0;
    }
}
@for $i from 1 through $sections { 
    .ui_carousel-multi input[type=radio]:nth-of-type(#{$i}):checked ~ .ui_carousel-images section:nth-of-type(#{$i}) {
        opacity: 1;
    }
}

/******************************************************************************
 * Carousel Thumbs  ************************************************************
 ******************************************************************************/
 .ui_carousel-thumbs {
     width: $carouselWidth;
     overflow: hidden;
     position: relative;
     height: 510px;
 }

 .ui_carousel-thumbs input[type=radio] {
    display: none;
 }

 .ui_carousel-thumbs .ui_carousel-images {
     transition: transform 0.5s ease 0s;
     background-color:#000;
     height: $carouselHeight;
     border-radius: 3px;
 }

 .ui_carousel-thumbs .ui_carousel-thumbnails  {
     bottom: 0px;
     position: absolute;
     text-align: center;
     width: $carouselWidth;
     z-index: 5;
 }

 .ui_carousel-thumbs .ui_carousel-thumbnails .ui_carousel-thumb-image {
     display: inline-block;
     height: 65px;
     list-style-type: none;
     margin: 0;
     width: 65px;
 }

 .ui_carousel-thumb-image img {
    height: 45px;
    width: 45px;
    opacity: 0.5;
    transition: all .5s ease;
 }

 .ui_carousel-thumb-image img:hover {
    height: 65px;
    width: 65px;
    opacity: 1;
    transform: translateY(10px);
 }


 .ui_carousel-thumbs .ui_carousel-images img {
     transition: all .5s ease;
     position:absolute;
     top: 0;
 }

 @for $i from 1 through $numThumbs { 
     .ui_carousel-thumbs .ui_carousel-images > img:nth-of-type(#{$i}) {
        $i : $i - 1;
        transform: translateX(#{$i * 100%});
         opacity: 0.5;
     }
 }



 .ui_carousel-thumbs input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images {
   transform: translateX(0%);
 }

 @for $i from 1 through ($numThumbs - 1) { 
     .ui_carousel-thumbs input[type=radio]:nth-of-type(#{$i+1}):checked ~ .ui_carousel-images {
         transform: translateX(#{$i * -100%});
         top: 0;
     }
 }

 @mixin setOpacity($num){
     $foo : '';
     @for $i from 1 through $num {
         $foo : $foo +  '.ui_carousel-thumbs input[type=radio]:nth-of-type('+ $i+'):checked ~ .ui_carousel-images img:nth-of-type('+$i+'),
         ';
     }

     #{$foo} {
         @content;
     }
 }

 @include setOpacity($numThumbs){
      opacity: 1;
 }
