.paper-shadows{
  position:relative;
  width:100%;
  max-width:960px;
  margin:0 auto;
  padding:0 10px;
  box-sizing:border-box;

  h1,h3{
    text-align:center;
    margin-top:20px;
  }	
}


.paper-shadows div {
    display:inline-block;
    margin-right:15px;
    margin-top:20px;
    margin-bottom:30px;
    width: 100px;
    height: 100px;
    background-color: white;
}
.paper-shadows div.rounded-corners{
    border-radius:5%;
}

.paper-shadows div.circular{
	border-radius:50%;
}
.paper-shadows div:nth-of-type(1),.paper-shadows div:nth-of-type(6),.paper-shadows div:nth-of-type(11){
    margin-left:15px;
    box-shadow: 0px 1px 8px 0px #808080;    
}
.paper-shadows div:nth-of-type(2),.paper-shadows div:nth-of-type(7),.paper-shadows div:nth-of-type(12){
    margin-left:35px;
    box-shadow: 0px 2px 8px 1px #888888;    
}
.paper-shadows div:nth-of-type(3),.paper-shadows div:nth-of-type(8),.paper-shadows div:nth-of-type(13){
    margin-left:35px;
    box-shadow: 0px 7px 16px 1px #888888;    
}
.paper-shadows div:nth-of-type(4),.paper-shadows div:nth-of-type(9),.paper-shadows div:nth-of-type(14){
    margin-left:35px;
    box-shadow: 0px 9px 30px 2px #888888;    
}
.paper-shadows div:nth-of-type(5),.paper-shadows div:nth-of-type(10),.paper-shadows div:nth-of-type(15){
    margin-left:35px;
    box-shadow: 0px 11px 40px 5px #888888;    
}