/****** General CSS that applies to entire area containing the tabs *********************/
.tabs-container {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  background-color: #fffefe;
  line-height: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 100px;
  position: relative;
  width: 960px;
  box-sizing: border-box; }

.tabs-container h1, .tabs-container h2 {
  font-weight: 800; }

.tabs-container input {
  display: none;
  margin: 0;
  padding: 0; }

/********* Common CSS that applies to each of the tab sets *******************/
.horizontal-tabs-1 .display-area,
.horizontal-tabs-2 .display-area,
.horizontal-tabs-3 .display-area {
  display: none;
  position: absolute;
  width: 100%;
  padding: 50px 30px;
  top: 55px;
  border-radius: 0 0 1% 1%;
  border: 1px solid black;
  border-color: transparent #000 #000 #000; }

.horizontal-tabs-1 input:nth-of-type(1):checked ~ .display-area:nth-of-type(1),
.horizontal-tabs-1 input:nth-of-type(2):checked ~ .display-area:nth-of-type(2),
.horizontal-tabs-1 input:nth-of-type(3):checked ~ .display-area:nth-of-type(3),
.horizontal-tabs-1 input:nth-of-type(4):checked ~ .display-area:nth-of-type(4),
.horizontal-tabs-2 input:nth-of-type(1):checked ~ .display-area:nth-of-type(1),
.horizontal-tabs-2 input:nth-of-type(2):checked ~ .display-area:nth-of-type(2),
.horizontal-tabs-2 input:nth-of-type(3):checked ~ .display-area:nth-of-type(3),
.horizontal-tabs-2 input:nth-of-type(4):checked ~ .display-area:nth-of-type(4),
.horizontal-tabs-3 input:nth-of-type(1):checked ~ .display-area:nth-of-type(1),
.horizontal-tabs-3 input:nth-of-type(2):checked ~ .display-area:nth-of-type(2),
.horizontal-tabs-3 input:nth-of-type(3):checked ~ .display-area:nth-of-type(3),
.horizontal-tabs-3 input:nth-of-type(4):checked ~ .display-area:nth-of-type(4) {
  display: block; }

/******** CSS applying specifically to the contents for each of the tabs ********************/
.tab-img {
  float: left;
  width: 251px; }

.tabs-container img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 210px;
  border-radius: 2%; }

.tab-text {
  position: relative;
  display: inline-block;
  left: 20px;
  padding: 0;
  margin: 0;
  width: 60%; }
  .tab-text h1 {
    font-size: 2.0em;
    margin-bottom: 40px; }
  .tab-text p {
    color: #707070;
    font-size: 0.7em;
    margin-top: -6px;
    line-height: 1.7em; }
  .tab-text .btn {
    font-weight: bold;
    font-size: 1em;
    float: right;
    width: 125px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    margin-top: 8px;
    color: #000;
    border-radius: 3%;
    border: 1px solid #212121; }

/*********CSS applying to first and third horizontal tab sets******************/
div.horizontal-tabs-1,
div.horizontal-tabs-3 {
  margin: 100px 0;
  position: relative;
  width: 85%;
  height: 360px; }

/*******CSS applying only to the first set horizontal tabs****************************/
.horizontal-tabs-1 .tabs-label {
  position: relative;
  float: left;
  text-align: center;
  width: 95px;
  height: 30px;
  padding: 15px 25px;
  margin: 0;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom: 1px solid black;
  color: #fff; }
  .horizontal-tabs-1 .tabs-label:hover {
    cursor: pointer; }

.horizontal-tabs-1:after {
  content: "";
  position: absolute;
  display: block;
  width: 125px;
  height: 55px;
  left: 581px;
  border-bottom: 1px solid black; }

.horizontal-tabs-1 label:nth-of-type(1) {
  background-color: #5e3676;
  height: 30px;
  top: -5px; }

.horizontal-tabs-1 label:nth-of-type(2) {
  background-color: #633f8a;
  height: 25px;
  top: 0; }

.horizontal-tabs-1 label:nth-of-type(3) {
  background-color: #a06fbd;
  height: 22px;
  top: 3px; }

.horizontal-tabs-1 label:nth-of-type(4) {
  background-color: #decde8;
  height: 18px;
  top: 7px; }

.horizontal-tabs-1 input:checked + label {
  height: 36px;
  top: -11px;
  background-color: #fffefe;
  border: 1px solid black;
  border-bottom: transparent;
  color: #000;
  font-weight: 600; }

/************CSS that applies to the second set of horizontal tags only**********/
.horizontal-tabs-2 .display-area {
  width: 700px;
  border: 0 solid transparent;
  border-bottom: 5px solid #bdbdbd;
  border-radius: 0; }

.horizontal-tabs-2 .tabs-label {
  position: relative;
  float: left;
  text-align: left;
  width: 120px;
  height: 20px;
  margin-right: 5px;
  border: 0 solid transparent;
  border-bottom: 5px solid #bdbdbd;
  color: #bdbdbd;
  border-radius: 0; }
  .horizontal-tabs-2 .tabs-label:hover {
    cursor: pointer; }

.horizontal-tabs-2 input:nth-of-type(1):checked ~ .display-area:nth-of-type(1),
.horizontal-tabs-2 input:nth-of-type(2):checked ~ .display-area:nth-of-type(2),
.horizontal-tabs-2 input:nth-of-type(3):checked ~ .display-area:nth-of-type(3),
.horizontal-tabs-2 input:nth-of-type(4):checked ~ .display-area:nth-of-type(4) {
  border-bottom: 5px solid #bdbdbd; }

.horizontal-tabs-2 input:nth-of-type(1):checked ~ .tabs-label:nth-of-type(1),
.horizontal-tabs-2 input:nth-of-type(2):checked ~ .tabs-label:nth-of-type(2),
.horizontal-tabs-2 input:nth-of-type(3):checked ~ .tabs-label:nth-of-type(3),
.horizontal-tabs-2 input:nth-of-type(4):checked ~ .tabs-label:nth-of-type(4) {
  font-weight: bold;
  color: #000; }

#highlight-label-1, #highlight-label-2,
#highlight-label-3, #highlight-label-4 {
  position: relative;
  height: 0px;
  max-width: 0em;
  top: 20px;
  left: 60px;
  transform: translateX(0);
  border: 3px solid transparent;
  transition: max-width 0.5s, border-color 1s, transform 0.5s; }

#highlight-label-2 {
  top: 8px;
  left: 185px; }

#highlight-label-3 {
  top: -4px;
  left: 310px; }

#highlight-label-4 {
  top: -16px;
  left: 435px; }

.horizontal-tabs-2 input:nth-of-type(1):checked ~ #highlight-label-1,
.horizontal-tabs-2 input:nth-of-type(2):checked ~ #highlight-label-2,
.horizontal-tabs-2 input:nth-of-type(3):checked ~ #highlight-label-3,
.horizontal-tabs-2 input:nth-of-type(4):checked ~ #highlight-label-4 {
  max-width: 7.2em;
  border-color: #9b68b9;
  transform: translateX(-60px);
  transition: max-width 0.5s, transform 0.5s; }

div[class="horizontal-tabs-2"] {
  margin: 100px 0;
  position: relative;
  width: 100%;
  height: 360px; }

.horizontal-tabs-2 .display-area {
  width: 645px; }

#highlight-bottom-1,
#highlight-bottom-2,
#highlight-bottom-3,
#highlight-bottom-4 {
  position: relative;
  height: 0px;
  max-width: 0px;
  top: 366px;
  left: 380px;
  transform: translateX(0);
  border: 3px solid transparent;
  transition: max-width 0s, border-color 1s, transform 0.5s; }

#highlight-bottom-2 {
  top: 353px; }

#highlight-bottom-3 {
  top: 342px; }

#highlight-bottom-4 {
  top: 330px; }

.horizontal-tabs-2 input:nth-of-type(1):checked ~ #highlight-bottom-1,
.horizontal-tabs-2 input:nth-of-type(2):checked ~ #highlight-bottom-2,
.horizontal-tabs-2 input:nth-of-type(3):checked ~ #highlight-bottom-3,
.horizontal-tabs-2 input:nth-of-type(4):checked ~ #highlight-bottom-4 {
  max-width: 698px;
  border-color: #9b68b9;
  transform: translateX(-379px);
  transition: max-width 0.5s, transform 0.5s; }

/***** CSS relating to the third set of horizontal tabs*********************************/
div.horizontal-tabs-3 {
  width: 700px; }

.horizontal-tabs-3 .display-area {
  width: 90%;
  border-color: transparent #bdbdbd #bdbdbd transparent; }

.horizontal-tabs-3 .tabs-label {
  position: relative;
  float: left;
  text-align: center;
  width: 95px;
  height: 10px;
  padding: 15px 25px;
  margin-right: 10px;
  border-style: solid;
  border-top-right-radius: 2%;
  border-width: 1px 2px 0 0;
  border-color: #bdbdbd #bdbdbd transparent transparent;
  color: #bdbdbd;
  font-weight: 700;
  transform: skewX(25deg); }
  .horizontal-tabs-3 .tabs-label:hover {
    cursor: pointer; }

.horizontal-tabs-3 .tabs-label .label-text {
  transform: skewX(-25deg); }

.horizontal-tabs-3 input:nth-of-type(1):checked ~ .tabs-label:nth-of-type(1),
.horizontal-tabs-3 input:nth-of-type(2):checked ~ .tabs-label:nth-of-type(2),
.horizontal-tabs-3 input:nth-of-type(3):checked ~ .tabs-label:nth-of-type(3),
.horizontal-tabs-3 input:nth-of-type(4):checked ~ .tabs-label:nth-of-type(4) {
  font-weight: bold;
  color: #9b68b9; }

/***** Tab highlight animation for top of first tab when unclicked ****************************/
#tabs3-label-top-highlight1,
#tabs3-label-top-highlight2,
#tabs3-label-top-highlight3,
#tabs3-label-top-highlight4 {
  position: relative;
  height: 0px;
  /*width:145px;*/
  max-width: 0;
  top: 0px;
  left: 137px;
  transform-origin: left;
  transform: rotate(180deg);
  border: 1px solid transparent;
  transition: max-width 0.2s, border-color 0.2s, transform 0.2s; }

#tabs3-label-top-highlight2 {
  left: 295px;
  top: -8px; }

#tabs3-label-top-highlight3 {
  left: 451px;
  top: -17px; }

#tabs3-label-top-highlight4 {
  left: 609px;
  top: -24px; }

/***** Tab highlight animation for top of first tab when clicked*************/
.horizontal-tabs-3 input:nth-of-type(1):checked ~ #tabs3-label-top-highlight1,
.horizontal-tabs-3 input:nth-of-type(2):checked ~ #tabs3-label-top-highlight2,
.horizontal-tabs-3 input:nth-of-type(3):checked ~ #tabs3-label-top-highlight3,
.horizontal-tabs-3 input:nth-of-type(4):checked ~ #tabs3-label-top-highlight4 {
  max-width: 145px;
  border-color: #9b68b9;
  transform: rotate(180deg);
  transition: max-width 0.5s, transform 0.2s; }

/****Tab highlight animation for right of first tab when unclicked**********************/
#tabs3-label-right-highlight1,
#tabs3-label-right-highlight2,
#tabs3-label-right-highlight3,
#tabs3-label-right-highlight4 {
  position: relative;
  height: 0px;
  /*width:145px;*/
  /*width:40px;*/
  max-width: 0;
  top: -2px;
  left: 136px;
  transform: rotate(65deg);
  border: 1px solid transparent;
  transition: max-width 0.5s, border-color 0.5s, left 0.5s, top 0.5s; }

#tabs3-label-right-highlight2 {
  left: 294px;
  top: -10px; }

#tabs3-label-right-highlight3 {
  left: 450px;
  top: -17px; }

#tabs3-label-right-highlight4 {
  left: 606px;
  top: -23px; }

/*******Tab highlight animation for right of first tab when clicked*********************/
.horizontal-tabs-3 input:nth-of-type(1):checked ~ #tabs3-label-right-highlight1,
.horizontal-tabs-3 input:nth-of-type(2):checked ~ #tabs3-label-right-highlight2,
.horizontal-tabs-3 input:nth-of-type(3):checked ~ #tabs3-label-right-highlight3,
.horizontal-tabs-3 input:nth-of-type(4):checked ~ #tabs3-label-right-highlight4 {
  max-width: 145px;
  border-color: #9b68b9;
  max-width: 43px;
  left: 124px;
  top: 18px;
  transition: max-width 0.5s, left 0.5s, top 0.5s; }

.horizontal-tabs-3 input:nth-of-type(2):checked ~ #tabs3-label-right-highlight2 {
  left: 282px;
  top: 10px; }

.horizontal-tabs-3 input:nth-of-type(3):checked ~ #tabs3-label-right-highlight3 {
  left: 437px;
  top: 1px; }

.horizontal-tabs-3 input:nth-of-type(4):checked ~ #tabs3-label-right-highlight4 {
  left: 596px;
  top: -6px; }

/**************Tab highlight animation for bottom of tab 1 third set******************/
div#tabs3-display-bottom-highlight1,
div#tabs3-display-bottom-highlight2,
div#tabs3-display-bottom-highlight3,
div#tabs3-display-bottom-highlight4 {
  position: relative;
  height: 0px;
  max-width: 0px;
  /*width:705px;*/
  top: 368px;
  left: 0px;
  transform: translateX(0);
  border: 1px solid transparent;
  transition: max-width 0s, border-color 1s, transform 0.5s; }

div#tabs3-display-bottom-highlight2 {
  top: 360px; }

div#tabs3-display-bottom-highlight3 {
  top: 352px; }

div#tabs3-display-bottom-highlight4 {
  top: 344px; }

.horizontal-tabs-3 input:nth-of-type(1):checked ~ div#tabs3-display-bottom-highlight1,
.horizontal-tabs-3 input:nth-of-type(2):checked ~ div#tabs3-display-bottom-highlight2,
.horizontal-tabs-3 input:nth-of-type(3):checked ~ div#tabs3-display-bottom-highlight3,
.horizontal-tabs-3 input:nth-of-type(4):checked ~ div#tabs3-display-bottom-highlight4 {
  max-width: 690px;
  border-color: #9b68b9;
  transition: max-width 0.5s; }

/************Tab highlight animation for right of tab 1 third set************************/
div#tabs3-display-right-highlight1,
div#tabs3-display-right-highlight2,
div#tabs3-display-right-highlight3,
div#tabs3-display-right-highlight4 {
  position: relative;
  height: 0px;
  /*width:316px;*/
  /*width:40px;*/
  max-width: 0;
  top: 50px;
  left: 691px;
  transform: rotate(90deg);
  border: 1px solid transparent;
  transition: max-width 0.5s, left 0.5s, top 0.5s; }

div#tabs3-display-right-highlight2 {
  top: 40px; }

div#tabs3-display-right-highlight3 {
  top: 36px; }

div#tabs3-display-right-highlight4 {
  top: 28px; }

.horizontal-tabs-3 input:nth-of-type(1):checked ~ div#tabs3-display-right-highlight1,
.horizontal-tabs-3 input:nth-of-type(2):checked ~ div#tabs3-display-right-highlight2,
.horizontal-tabs-3 input:nth-of-type(3):checked ~ div#tabs3-display-right-highlight3,
.horizontal-tabs-3 input:nth-of-type(4):checked ~ div#tabs3-display-right-highlight4 {
  max-width: 316px;
  left: 533px;
  top: 208px;
  border-color: #9b68b9;
  transition: max-width 1s left 1s top 1s; }

.horizontal-tabs-3 input:nth-of-type(2):checked ~ div#tabs3-display-right-highlight2 {
  top: 200px; }

.horizontal-tabs-3 input:nth-of-type(3):checked ~ div#tabs3-display-right-highlight3 {
  top: 192px; }

.horizontal-tabs-3 input:nth-of-type(4):checked ~ div#tabs3-display-right-highlight4 {
  top: 184px; }

/*# sourceMappingURL=tabs.css.map */
