/*
* Team 2 Hackathon Framework
*/
.container {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  background-color: #fffefe;
  line-height: 25px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 100px;
  position: relative;
  width: 960px;
  box-sizing: border-box; }

h1, h2 {
  font-weight: 800; }

div[class*="horizontal-tabs-"] {
  margin: 100px 0;
  position: relative;
  width: 85%;
  height: 360px; }

input {
  display: none;
  margin: 0;
  padding: 0; }

.tabs-label {
  position: relative;
  float: left;
  text-align: center;
  width: 95px;
  height: 30px;
  padding: 15px 25px;
  margin: 0;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border-bottom: 1px solid black;
  color: #fff; }
  .tabs-label:hover {
    cursor: pointer; }

.horizontal-tabs-1 .display-area,
.horizontal-tabs-2 .display-area {
  display: none;
  position: absolute;
  width: 100%;
  padding: 50px 30px;
  top: 55px;
  border-radius: 0 0 1% 1%;
  border: 1px solid black;
  border-top: transparent; }

.horizontal-tabs-1:after {
  content: "";
  position: absolute;
  display: block;
  width: 126px;
  height: 55px;
  left: 581px;
  border-bottom: 1px solid black; }

.horizontal-tabs-1 input:nth-of-type(1):checked ~ .display-area:nth-of-type(1),
.horizontal-tabs-1 input:nth-of-type(2):checked ~ .display-area:nth-of-type(2),
.horizontal-tabs-1 input:nth-of-type(3):checked ~ .display-area:nth-of-type(3),
.horizontal-tabs-1 input:nth-of-type(4):checked ~ .display-area:nth-of-type(4) {
  display: block; }

.horizontal-tabs-1 label:nth-of-type(1) {
  background-color: #5e3676;
  height: 30px;
  top: -5px; }

.horizontal-tabs-1 label:nth-of-type(2) {
  background-color: #633f8a;
  height: 25px;
  top: 0; }

.horizontal-tabs-1 label:nth-of-type(3) {
  background-color: #a06fbd;
  height: 22px;
  top: 3px; }

.horizontal-tabs-1 label:nth-of-type(4) {
  background-color: #decde8;
  height: 18px;
  top: 7px; }

.horizontal-tabs-1 input:checked + label {
  height: 36px;
  top: -11px;
  background-color: #fffefe;
  border: 1px solid black;
  border-bottom: transparent;
  color: #000;
  font-weight: 600; }

.tab-img {
  float: left;
  width: 251px; }

img {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 210px;
  border-radius: 2%; }

.tab-text {
  position: relative;
  display: inline-block;
  left: 20px;
  padding: 0;
  margin: 0;
  width: 60%; }
  .tab-text h1 {
    font-size: 2.0em;
    margin-bottom: 40px; }
  .tab-text p {
    color: #bdbdbd;
    font-size: 0.7em;
    margin-top: -6px;
    line-height: 1.7em; }
  .tab-text .btn {
    font-weight: bold;
    font-size: 1em;
    float: right;
    width: 125px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    margin-top: 8px;
    color: #000;
    border-radius: 3%;
    border: 1px solid #212121; }
