//--------------------------------------------------------------
// MIXINS
//--------------------------------------------------------------

// Clearfix all the things
@mixin clearfix {
	&:after {
		clear: both;
		content: '';
		display: block;
	}
}