body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 36px;
  margin-bottom: 42px; }

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px; }

h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 30px; }

p {
  margin-bottom: 30px; }

body {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.carousel-content {
  margin: 0; }

.ui_carousel label {
  width: auto; }

.ui_carousel {
  margin: 0px auto 20px;
  position: relative; }

/******************************************************************************
 * Carousel Large  ************************************************************
 ******************************************************************************/
.ui_carousel-large {
  overflow: hidden;
  position: relative;
  width: 786px; }

.ui_carousel-large input[type=radio] {
  display: none; }

.ui_carousel-large .ui_carousel-images {
  background-color: #000;
  border-radius: 5px;
  height: 350px;
  margin-top: 20px;
  transition: transform 0.5s ease 0s; }

.ui_carousel-large .ui_carousel-dots {
  bottom: 5px;
  position: absolute;
  text-align: center;
  width: 786px;
  z-index: 5; }

.ui_carousel-large .ui_carousel-dots .ui_carousel-dot {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  list-style-type: none;
  margin: 0 5px;
  width: 15px; }

.ui_carousel-large .ui_carousel-images img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  transition: all .5s ease; }

.ui_carousel-large .ui_carousel-images > img:nth-of-type(1) {
  transform: translateX(0%);
  opacity: 0.5; }

.ui_carousel-large .ui_carousel-images > img:nth-of-type(2) {
  transform: translateX(100%);
  opacity: 0.5; }

.ui_carousel-large .ui_carousel-images > img:nth-of-type(3) {
  transform: translateX(200%);
  opacity: 0.5; }

.ui_carousel-large > label {
  height: 30px;
  position: absolute;
  top: 52.5%;
  width: 30px; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ label:nth-of-type(3),
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ label:nth-of-type(1),
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ label:nth-of-type(2) {
  background: transparent url(../images/carousel/left.png) no-repeat;
  display: block;
  left: 10px;
  z-index: 5; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ label:nth-of-type(2),
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ label:nth-of-type(3),
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ label:nth-of-type(1) {
  background: transparent url(../images/carousel/right.png) no-repeat;
  display: block;
  right: 10px;
  z-index: 4; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(1),
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(2),
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(3) {
  background-color: rgba(255, 255, 255, 0.75); }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images {
  transform: translateX(0%); }

.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images {
  transform: translateX(-100%);
  top: 0; }

.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images {
  transform: translateX(-200%);
  top: 0; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images img:nth-of-type(1),
.ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images img:nth-of-type(2),
.ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images img:nth-of-type(3) {
  opacity: 1; }

/******************************************************************************
 * Carousel Multi  ************************************************************
 ******************************************************************************/
.ui_carousel-multi {
  height: 380px;
  overflow: hidden;
  position: relative;
  width: 786px; }

.ui_carousel-multi input[type=radio] {
  display: none; }

.ui_carousel-multi .ui_carousel-images {
  height: 350px;
  margin: 20px 0 0 30px;
  transition: transform 0.5s ease 0s; }

.ui_carousel-multi img {
  margin: 0 5px; }

.ui_carousel-multi > label {
  height: 30px;
  position: absolute;
  top: 50%;
  width: 30px; }

.ui_carousel-multi .ui_carousel-images section {
  display: inline-block;
  height: 350px;
  margin: 10px 0px;
  overflow: hidden;
  position: absolute;
  top: 0;
  transition: all .5s ease;
  vertical-align: top;
  width: 728px; }

.ui_carousel-multi .ui_carousel-images > section:nth-of-type(1) {
  transform: translateX(0%);
  opacity: 0.25; }

.ui_carousel-multi .ui_carousel-images > section:nth-of-type(2) {
  transform: translateX(220%);
  opacity: 0.25; }

.ui_carousel-multi .ui_carousel-images > section:nth-of-type(3) {
  transform: translateX(330%);
  opacity: 0.25; }

.ui_carousel-multi input[type=radio]:nth-of-type(1):checked ~ label:nth-of-type(3),
.ui_carousel-multi input[type=radio]:nth-of-type(2):checked ~ label:nth-of-type(1),
.ui_carousel-multi input[type=radio]:nth-of-type(3):checked ~ label:nth-of-type(2) {
  background: transparent url(../images/carousel/left-dark.png) no-repeat;
  display: block;
  left: 0px;
  z-index: 5; }

.ui_carousel-multi input[type=radio]:nth-of-type(1):checked ~ label:nth-of-type(2),
.ui_carousel-multi input[type=radio]:nth-of-type(2):checked ~ label:nth-of-type(3),
.ui_carousel-multi input[type=radio]:nth-of-type(3):checked ~ label:nth-of-type(1) {
  background: transparent url(../images/carousel/right-dark.png) no-repeat;
  display: block;
  right: 0px;
  z-index: 5; }

.ui_carousel-multi input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images {
  transform: translateX(0%);
  top: 0; }

.ui_carousel-multi input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images {
  transform: translateX(-212%);
  top: 0; }

.ui_carousel-multi input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images {
  transform: translateX(-318%);
  top: 0; }

.ui_carousel-multi input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images section:nth-of-type(1) {
  opacity: 1; }

.ui_carousel-multi input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images section:nth-of-type(2) {
  opacity: 1; }

.ui_carousel-multi input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images section:nth-of-type(3) {
  opacity: 1; }

/******************************************************************************
 * Carousel Thumbs  ************************************************************
 ******************************************************************************/
.ui_carousel-thumbs {
  height: 510px;
  overflow: hidden;
  position: relative;
  width: 786px; }

.ui_carousel-thumbs input[type=radio] {
  display: none; }

.ui_carousel-thumbs .ui_carousel-images {
  background-color: #000;
  border-radius: 5px;
  height: 350px;
  transition: transform 0.5s ease 0s; }

.ui_carousel-thumbs .ui_carousel-thumbnails {
  bottom: 0px;
  position: absolute;
  text-align: center;
  width: 786px;
  z-index: 5; }

.ui_carousel-thumbs .ui_carousel-thumbnails .ui_carousel-thumb-image {
  display: inline-block;
  height: 65px;
  list-style-type: none;
  margin: 0;
  width: 65px; }

.ui_carousel-thumb-image img {
  border-radius: 5px;
  height: 45px;
  opacity: 0.5;
  transition: all .5s ease;
  width: 45px; }

.ui_carousel-thumb-image img:hover {
  height: 65px;
  width: 65px;
  opacity: 1;
  transform: translateY(10px); }

.ui_carousel-thumbs .ui_carousel-images img {
  border-radius: 5px;
  position: absolute;
  top: 0;
  transition: all .5s ease; }

.ui_carousel-thumbs .ui_carousel-images > img:nth-of-type(1) {
  transform: translateX(0%);
  opacity: 0.5; }

.ui_carousel-thumbs .ui_carousel-images > img:nth-of-type(2) {
  transform: translateX(100%);
  opacity: 0.5; }

.ui_carousel-thumbs .ui_carousel-images > img:nth-of-type(3) {
  transform: translateX(200%);
  opacity: 0.5; }

.ui_carousel-thumbs input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images {
  transform: translateX(0%); }

.ui_carousel-thumbs input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images {
  transform: translateX(-100%);
  top: 0; }

.ui_carousel-thumbs input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images {
  transform: translateX(-200%);
  top: 0; }

.ui_carousel-thumbs input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images img:nth-of-type(1),
.ui_carousel-thumbs input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images img:nth-of-type(2),
.ui_carousel-thumbs input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images img:nth-of-type(3) {
  opacity: 1; }

/*# sourceMappingURL=carousel.css.map */