/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* added to original reset */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

*, *:before, *:after {
  box-sizing: inherit; }

.ui_carousel-large {
  position: relative; }

.ui_carousel-large input[type=radio] {
  display: none; }

.ui_carousel-large .ui_carousel-images {
  height: 350px;
  list-style: none;
  overflow: hidden;
  position: relative;
  width: 786px; }

.ui_carousel-large .ui_carousel-dots {
  bottom: 5px;
  position: absolute;
  text-align: center;
  width: 786px;
  z-index: 5; }

.ui_carousel-large .ui_carousel-dots .ui_carousel-dot {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: inline-block;
  height: 15px;
  list-style-type: none;
  margin: 0 5px;
  width: 15px; }

.ui_carousel-images > img,
.ui_carousel-images > label {
  display: none; }

.ui_carousel-images > img {
  transistion: all .5s; }

.ui_carousel-images > label {
  height: 30px;
  position: absolute;
  top: 45%;
  width: 30px; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images > label:nth-of-type(3), .ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images > label:nth-of-type(1), .ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images > label:nth-of-type(2) {
  background: transparent url(../images/left.png) no-repeat;
  display: block;
  left: 10px;
  z-index: 5; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images > label:nth-of-type(2), .ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images > label:nth-of-type(3), .ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images > label:nth-of-type(1) {
  background: transparent url(../images/right.png) no-repeat;
  display: block;
  right: 10px;
  z-index: 4; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-images > label:nth-of-type(1) + img, .ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-images > label:nth-of-type(2) + img, .ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-images > label:nth-of-type(3) + img {
  display: block;
  z-index: 1; }

.ui_carousel-large input[type=radio]:nth-of-type(1):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(1), .ui_carousel-large input[type=radio]:nth-of-type(2):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(2), .ui_carousel-large input[type=radio]:nth-of-type(3):checked ~ .ui_carousel-dots .ui_carousel-dot:nth-of-type(3) {
  background-color: rgba(255, 255, 255, 0.75); }

/*# sourceMappingURL=ui_carousel-large-styles.css.map */